<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/wil_logo"
        android:label="Wil Connect"
        android:roundIcon="@mipmap/wil_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.XBCAD_POE"
        tools:targetApi="31">
        <activity android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name=".NpoProjectsList"></activity>
        <activity android:name=".NpoCreateProject"></activity>
        <activity android:name=".ProjectDescription"></activity>
        <activity android:name=".StudentGroupList"></activity>
        <activity android:name=".StudentGroupDiscussion"></activity>
        <activity android:name=".LecturerAddAnnouncement"></activity>
        <activity android:name=".LecturerAnnouncements"></activity>
        <activity android:name=".LecturerViewGroups"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ChatWithGroup"></activity>
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".ChangePassword"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".AssignProjectActivity"></activity>
        <activity android:name=".StudentCheckList"></activity>
        <activity android:name=".LecturerViewProjects"></activity>
        <activity android:name=".Chat"></activity>
        <activity android:name=".StudentViewAnnouncements"></activity>
        <activity android:name=".ChooseLecturer"></activity>
        <activity android:name=".StudentViewProject"></activity>

    </application>

</manifest>